img {
	vertical-align: middle;
	max-width: 100%;
	display: inline-block;
}
.w-inline-block {
	max-width: 100%;
	display: inline-block;
}
.w-inline-block.flex {
	display: flex;
}
.w-container {
	margin-left: auto;
	margin-right: auto
}
.w-layout-blockcontainer {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.w-list-unstyled {
	padding-left: 0;
	list-style: none;
}
.w-layout-vflex {
	flex-direction: column;
	align-items: flex-start;
	display: flex;
}
h1 {
	margin: 0px;
}
h2 {
	margin: 0px;
}
h3 {
	margin: 0px;
}
h4 {
	margin: 0px;
}
h5 {
	margin: 0px;
}
h6 {
	margin: 0px;
}
p {
	margin: 0px;
}